*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
    height: 80vh;
}
/* form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    height: fit-content;
} */
.login-form{
    display: flex;
    flex-direction: column;
    width: 50vb;
    text-align: left;
    /* border-style: solid; */
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
  .form-container {
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: left;
    /* border-style: solid; */
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
  }
  .form-items {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin: 5px 25px 5px 25px;
  }
  .form-items > h2 {
    font-size: larger;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .form-items > p {
    margin-top: -25px;
  }
  .contact-btn {
    margin-left: 40%;
  }
  .contact-btn:hover {
    background-color: #fa6400;
    cursor: pointer;
  }
  .input-tag{
    padding: 10px;
  }
  .btn-demo {
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
  }
  .btn {
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-style: none;
    font-weight: bolder;
  }
  .flex{
    display: flex;
  }
  .flex-col{
    flex-direction: row;
  }
  .spacebetween{
    justify-content: space-between;
    width: fit-content;
  }