
      <div class="footer-wrapper">
        <div class="footer-container">
          <div class="footer-item">
            <span class="color">Platform</span>
            <span>Dispatch Dashboard</span>
            <span>Reporting & Analytics</span>
            <span>Driver App</span>
            <span>Reconciliation Invoicing</span>
            <span>Order Management</span>
            <span>Pricing & Fee Management</span>
          </div>
          <div class="footer-item">
            <span class="color">Business Line</span>
            <span>On-site Fueling</span>
            <span>Lubricants</span>
            <span>Bulk Transport</span>
            <span>Rental Asset Management</span>
            <span>Propane/Heating Oil</span>
          </div>
          <div class="footer-item">
            <span class="color">Customers</span>
            <span>Case Studies</span>
            <span>Wall of Love</span>
          </div>
          <div class="footer-item">
            <span class="color">Resources</span>
            <span>Blog</span>
            <span>Ebook</span>
            <span>Webinars</span>
            <span>Podcast</span>
          </div>
          <div class="footer-item">
            <span class="color">Company</span>
            <span>Our Story</span>
            <span>Why Us</span>
            <span>Implementation & Support</span>
            <span>FAQs</span>
            <span>Product Updates</span>
            <span>Press</span>
          </div>
        </div>
        <div class="footer-connect">
          <span class="color">Stay Connected with us</span>
          <div class="socials">
            <span class="color">LinkedIn</span>
            <span class="color">Facebook</span>
            <span class="color">sales@fleetpanda.com</span>
            <span class="color">Phone</span>
          </div>
          <div class="policy">
            <span>©2024 FleetPanda. All Rights Reserved.</span>
            <div class="terms">
              <a href="#">Terms of Service</a>
              <a href="#">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-Image">
          <%= image_tag("footer-panda-768x687.webp",style: 'width: 450px;
          height: 500px;') %>
      </div>
   